#pc-wrap {
	#property-detail-page {
		position: relative;
		background: gainsboro;
		padding-top: 87px;
		padding-bottom: 200px;
		.property-detail-config {
			width: 100%;
			height: auto;
			padding-top: 56px;
			gap: 30px;
			.property-info-config {
				width: 100%;
				background: white;
				border-radius: 10px;
				padding: 30px;
				display: flex;
				flex-direction: row;
				// border: 1px solid black;
				height: auto;
				gap: 30px;
				.info {
					flex: 1;
					height: auto;
					display: flex;
					.left-box {
						display: flex;
						justify-content: space-between;
						flex-direction: row;
						// flex: 3;
						height: auto;
						.title-main {
							color: #181a20;
							font-family: Georgia, 'Times New Roman', Times, serif;
							font-size: 30px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
						}
						.top-box {
							background-color: #99fc74;;
							width: auto;
							height: auto;
							padding: 3px;
							flex-direction: row;
							align-items: center;
							gap: 10px;
							margin-bottom: 17px;

							.city {
								color: #717171;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
							}

							// .buy-rent-box {
							// 	width: 100px;
							// 	flex-direction: row;
							// 	align-items: center;
							// 	gap: 7px;
							// 	.buy-rent {
							// 		color: #eb6753;
							// 		font-family: $font;
							// 		font-size: 15px;
							// 		font-style: normal;
							// 		font-weight: 600;
							// 		line-height: normal;
							// 	}
							// }
							.date {
								color: #0f0e0e;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 400;
								line-height: 28px;
							}
						}
						.bottom-box {
							width: auto;
							height: auto;
							flex-direction: row;
							gap: 15px;

							.option {
								width: auto;
								height: auto;
								flex-direction: row;
								gap: 8px;
								p {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}
					.right-box {
						// border: 1px solid greenyellow;
						// flex: 1;
						height: auto;
						align-items: flex-start;
						.divider {
							width: 100%;
							height: 2px;
							background: #ddd;
						}
						.bottom-box {
							margin-top: 20px;
							.features-list {
								list-style-type: none;
								padding: 0;
								margin: 0;
								color: #263238;
								font-size: 18px;
							}
							li {
								display: flex;
								align-items: center;
								margin-bottom: 10px;

								.icon {
									width: 24px;
									height: 24px;
									margin-right: 10px;
									color: #263238;
								}
							}
							.klarna {
								background-color: #f8c3cb;
								padding: 2px 5px;
								border-radius: 3px;
								font-weight: bold;
							}
						}
						.buttons {
							width: auto;
							height: auto;
							display: flex;
							flex-direction: row;
							align-items: center;
							gap: 11px;
							margin: 10px 10px 27px 0;

							p {
								color: #181a20;
								text-align: right;
								font-family: $font;
								font-size: 18px;
								font-style: normal;
								font-weight: 400;
								line-height: normal;
								letter-spacing: 0.52px;
								text-transform: capitalize;
							}
							.button-box {
								flex-direction: row;
								gap: 5px;
								align-items: center;
							}
						}
						img {
							width: 28px;
							height: 27px;
						}
						svg {
							width: 28px;
							height: 27px;
							cursor: pointer;
						}
						p {
							color: #181a20;
							text-align: right;
							font-family: $font;
							font-size: 26px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.52px;
							text-transform: capitalize;
						}
						span {
							color: #181a20;
							text-align: right;
							font-family: $font;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: normal;
							letter-spacing: 0.3px;
							text-transform: capitalize;
						}
					}
				}
				.images {
					flex: 2;
					height: auto;
					gap: 10px;
					.main-image {
						border: 1px solid gray;
						border-radius: 10px;
						// width: 500px;
						// height: 400px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							border-radius: 12px;
						}
					}
					.sub-images {
						width: 100%;
						height: auto;
						flex-direction: row;
						gap: 10px;
						.sub-img-box {
							width: 130px;
							height: 120px;
							cursor: pointer;
							&:hover {
								border: 1px solid black;
							}
							img {
								// width: 100%;
								// height: 100%;
								object-fit: cover;
								border-radius: 12px;
							}
						}
					}
				}
			}
			.property-desc-config {
				width: 100%;
				height: auto;
				flex-direction: row;
				gap: 22px;
				.left-config {
					width: 960px;
					height: auto;
					gap: 40px;
					.options-config {
						width: 100%;
						height: auto;
						flex-direction: row;
						gap: 47.5px;
						.option {
							width: auto;
							height: auto;
							flex-direction: row;
							gap: 17px;
							.svg-box {
								width: 56px;
								height: 50px;
								align-items: center;
								justify-content: center;
								border-radius: 12px;
								border: 1px solid #ddd;

								img {
									width: 35px;
									height: auto;
								}
							}
							.option-includes {
								width: auto;
								height: auto;
								.title {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
								.option-data {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
					}
					.prop-desc-config {
						width: 100%;
						height: auto;
						gap: 50px;
						padding: 29px 38px 50px 38px;
						border-radius: 12px;
						background: white;
						border: 1px solid #c4c4c4;
						.top {
							display: flex;
							flex-direction: row;
							width: 100%;
							height: auto;
							// gap: 30px;
							.top-info {
								width: 90%;
								// display: flex;
								// flex-direction: column;
							}

							.title {
								color: #2c3e50;
								font-family: cursive;
								font-size: 25px;
								font-style: normal;
								font-weight: 800;
								line-height: normal;
							}
							.desc {
								color: #2c3e50;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
								max-height: 104px;
							}
						}
						.divider {
							width: 100%;
							height: 2px;
							background: #ddd;
						}
						.bottom {
							width: 100%;
							height: auto;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							gap: 30px;

							.benefits-title {
								font-family: 'Arial', sans-serif;
								font-weight: bold;
								color: #2c3e50;
								margin-bottom: 16px;
							}
							.benefit-icon {
								color: #4dff00;
							}
							.benefits-item {
								font-family: 'Arial', sans-serif;
								font-size: 16px;
								color: #50382c;
							}
							.benefits-item strong {
								font-weight: bold;
							}

							.title {
								color: #183f4b;
								font-family: $font;
								font-size: 17px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								margin-bottom: 10px;
							}
							.info-box {
								width: 100%;
								height: auto;
								flex-direction: column;
								gap: 230px;
								.left,
								.right {
									.info {
										width: auto;
										height: auto;
										display: flex;
										flex-direction: row;
										gap: 38px;
										.title {
											width: 121px;
											color: #183f4bcc;
											font-family: $font;
											font-size: 14px;
											font-style: normal;
											font-weight: 600;
											line-height: 35px;
										}
										.data {
											width: 88px;
											color: #f01219;
											font-family: $font;
											font-size: 14px;
											font-style: normal;
											font-weight: 800;
											line-height: 35px;
										}
									}
								}
							}
						}
					}
					.floor-plans-config {
						width: 100%;
						height: auto;
						gap: 30px;
						padding: 30px 38px;
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						.title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						.image-box {
							width: 100%;
							height: 510px;
							border: 1px solid #c4c4c4;
							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
					.address-config {
						background: white;
						width: 100%;
						height: auto;
						gap: 30px;
						padding: 30px 38px;
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						.title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						.map-box {
							width: 100%;
							height: 400px;
							iframe {
								border-radius: 12px;
							}
						}
					}
					.reviews-config {
						width: 100%;
						background-color: #fff;
						height: auto;
						padding: 30px 38px 45px 38px;
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						.filter-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							justify-content: space-between;
							margin-bottom: 30px;
							.review-cnt {
								width: auto;
								height: auto;
								flex-direction: row;
								align-items: center;
								gap: 12px;
								.reviews {
									width: 153.6px;
									color: #181a20;
									font-family: $font;
									font-size: 17px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
							.select-box {
								width: auto;
								height: auto;
								flex-direction: row;
								gap: 10px;
								.sort-title {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
								.select-main {
									width: 140px;
									border: none;
									outline: none;
									color: #181a20;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: 26px;
								}
							}
						}
						.review-list {
							width: 100%;
							height: auto;
							gap: 20px;
							.review-config {
								width: 100%;
								height: auto;
								padding-bottom: 10px;
								border-bottom: 1px solid #c4c4c4;
								.review-mb-info {
									width: 100%;
									height: auto;
									flex-direction: row;
									justify-content: space-between;
									.img-name-box {
										width: 30%;
										flex-direction: row;
										align-items: center;
										gap: 20px;
										.img-box {
											width: 65px;
											height: 65px;
											align-items: center;
											justify-content: center;
											border-radius: 50%;
											background: #f6f6f6;
											border: 1px solid #b9b9b9;
											object-fit: cover;
										}
										.name {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 15px;
											font-style: normal;
											font-weight: 600;
											line-height: normal;
											cursor: pointer;
										}
										.date {
											width: 100%;
											color: #181a20;
											font-family: $font;
											font-size: 13px;
											font-style: normal;
											font-weight: 400;
											line-height: normal;
										}
									}
									.review-stars {
										padding-top: 10px;
									}
								}
								.desc-box {
									width: 100%;
									height: auto;
									margin-top: 15px;
									.description {
										color: #181a20;
										font-family: $font;
										font-size: 14px;
										font-style: normal;
										font-weight: 400;
										line-height: 26px;
									}
								}
							}
							.pagination-box {
								margin-top: 15px;
								width: 100%;
								height: auto;
								display: flex;
								justify-content: center;
							}
						}
					}
					.leave-review-config {
						border-radius: 12px;
						border: 1px solid #c4c4c4;
						background: #ffffff;
						box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
						padding: 30px 38px;
						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						.review-title {
							margin-top: 20px;
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						textarea {
							width: 100%;
							height: 120px;
							margin-top: 8px;
							padding: 20px;
							border-radius: 8px;
							border: 1px solid #ddd;
							color: #717171;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
						.submit-btn {
							width: 100%;
							display: flex;
							justify-content: flex-end;
							button:disabled {
								background: #6253eb;
						
							}
							.submit-review {
								display: flex;
								width: 256px;
								margin-top: 30px;
								padding: 16px 30px;
								justify-content: center;
								align-items: center;
								gap: 10px;
								border-radius: 12px;
								border: 1px solid #c4c4c4;
								cursor: pointer;
							
								.title {
									color: rgb(255, 255, 255);
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
						}
					}
				}
				.right-config {
					width: 318px;
					height: fit-content;
					padding: 30px 25px;
					gap: 20px;
					border-radius: 12px;
					border: 1px solid rgba(196, 196, 196, 0.79);
					background: #99fc74;
					box-shadow: 0px 5px 14px 0px rgba(247, 7, 179, 0.71);
					.info-box {
						position: relative;
						width: 100%;
						gap: 8px;
						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 17px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							margin-bottom: 17px;
						}
						.image-info {
							width: 100%;
							flex-direction: row;
							gap: 18px;
							img {
								width: 95px;
								height: 95px;
								border-radius: 50%;
								object-fit: cover;
							}
							.name-phone-listings {
								gap: 5px;
								.name {
									color: #181a20;
									font-family: $font;
									font-size: 15px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
								.phone-number {
									width: 100%;
									flex-direction: row;
									align-items: center;
									gap: 10px;
									.number {
										color: #181a20;
										font-family: $font;
										font-size: 15px;
										font-style: normal;
										font-weight: 400;
										line-height: 28px;
									}
								}
								.listings {
									color: #181a20;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-decoration-line: underline;
								}
							}
						}
						.sub-title {
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
						}
						input {
							width: 100%;
							height: 55px;
							padding: 15px;
							border-radius: 8px;
							border: 1px solid #ddd;
							background: #fff;
							outline: none;
							&::placeholder {
								color: #717171;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
							}
							&:focus {
								border: 1px solid black;
							}
						}
						textarea {
							width: 100%;
							height: 120px;
							padding: 20px;
							border-radius: 8px;
							border: 1px solid #ddd;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
							&::placeholder {
								color: #717171;
								font-family: $font;
								font-size: 14px;
								font-style: normal;
								font-weight: 400;
								line-height: 26px;
							}
							&:focus {
								border: 1px solid black;
							}
						}
						.send-message {
							display: flex;
							width: 100%;
							padding: 16px 30px;
							justify-content: center;
							align-items: center;
							gap: 10px;
							border-radius: 12px;
							background: #6253eb;
							&:hover{
								background: #ff5117;
							}
							.title {
								color: #fff;
								font-family: $font;
								font-size: 15px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
				}
			}
			.similar-properties-config {
				width: 100%;
				margin-top: 45px;
				gap: 66px;
				.title-pagination-box {
					width: 100%;
					height: auto;
					flex-direction: row;
					justify-content: space-between;
					align-items: flex-end;
					.title-box {
						width: 30%;
						.main-title {
							color: #181a20;
							font-family: $font;
							font-size: 30px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 0.6px;
							text-transform: capitalize;
						}
						.sub-title {
							color: #181a20;
							font-family: $font;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 26px;
						}
					}
					.pagination-box {
						flex-direction: row;
						align-items: center;
						gap: 22px;
					}
				}
				.cards-box {
					width: 100%;
					padding-bottom: 10px;
					.similar-homes-swiper {
						width: 100%;
						.similar-homes-slide {
							width: 411px;
						}
					}
				}
			}
		}
	}
}
