#pc-wrap {
	.agent-list-page {
		position: relative;
		padding: 147px 0 75px;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		.container {
			display: flex;
			flex-direction: column;
			.filter {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				
				.left {
					display: flex;
					flex-direction: row;
					
					// input {
					// 	padding: 22px 10px;
					// 	width: 333px;
					// 	height: 50px;
					// 	border-radius: 40px;
					// 	border: 1px solid #ddd;
					// 	background: #fff;
					// 	color: #181a20;
					// 	font-family: $font;
					// 	font-size: 14px;
					// 	font-style: normal;
					// 	font-weight: 400;
					// 	line-height: 26px;
					// 	box-sizing: border-box;
					// }
					input {
						padding: 12px 20px;
						width: 100%;
						max-width: 400px;
						border: 2px solid #ddd;
						border-radius: 25px;
						background-color: #fff;
						color: #333;
						font-family: 'Arial', sans-serif;
						font-size: 16px;
						transition: border 0.3s, box-shadow 0.3s, transform 0.3s;
					}
					input:hover,
					input:focus {
						border-color: #007bff;
						box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
						transform: scale(1.02);
					}
				}
				.right {
					display: flex;
					flex-direction: row;
					align-items: center;
					span{
						
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 800;
						line-height: 26px; 
					}
					button {
						border-radius: 25px;
						margin-left: 10px;
						background-color: #007bff;
						color: #fff;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: bold;
						line-height: 26px;
						transition: background-color 0.3s;
						&:hover {
							background-color: #0056b3;
						}
					}
				}
			}
			.card-wrap {

				position: relative;
				margin-top: 35px;
				width: 100%;
				min-height: 500px;
				height: auto;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			.pagination {
				display: flex;
				flex-direction: column;
				align-items: center;
				span {
					margin-top: 20px;
					color: #181a20;
					font-family: $font;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 26px; /* 185.714% */
				}
			}
		}
	}
}
